.header {
    height: rem(56px);
    background-color: var(--mantine-color-body);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    margin-left: 0% !important;
    margin-right: 0% !important;
  }

  /*
Current Color Scheme:
#F9EFDB
#EBD9B4
#9DBC98
#638889

rgb(249, 239, 219)
rgb(235, 217, 180)
rgb(157, 188, 152)
rgb(99, 136, 137) 
*/
  
  
  .inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0% !important;
    margin-right: 0% !important;
    max-width: none !important;
  }

  .group {
    /* margin-left: 0% !important;
    margin-right: 0% !important;
    padding-left: 0% !important;
    padding-right: 0% !important; */
  }

  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
    }
  
    [data-mantine-color-scheme] &[data-active] {
      background-color: var(--mantine-color-blue-filled);
      color: var(--mantine-color-white);
    }
  }